.text-sub {
  color: #666;
}

.text-sub_dimmer {
  color: #999;
}

.cursor-blocked {
  cursor: not-allowed !important;
}

.tab-item {
  cursor: default;
  padding: 6px 16px;
  margin: 0;
}

.tab-item:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

.tab-item:active {
  background-color: rgba(100, 100, 100, 0.18);
}

.tab-item.cursor-blocked {
  background-color: rgba(100, 100, 100, 0.05);
  color: #666;
}

.tab-item_active {
  color: rgb(55, 135, 255);
}

.tab-item_active_full {
  background-color: rgba(55, 135, 255, 0.1) !important;
  color: rgb(55, 135, 255);
}

.tab-item_selected {
  color: rgb(220, 120, 50);
}

.tab-item_selected_full {
  background-color: rgba(255, 135, 55, 0.1) !important;
  color: rgb(220, 120, 50);
}

.tab-item * {
  vertical-align: middle;
}

.tab-item__favicon {
  height: 20px;
  margin-right: 8px;
}

.tabs-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 10px;
}

.tabs-options__menu {
  display: flex;
  flex-direction: row;
}

.tabs-options__item {
  color: rgba(0, 0, 0, 0.6);
  margin: 0 2px;
}

.tabs-options__item:hover {
  color: rgba(0, 0, 0, 0.8);
}

.tabs-options__item:active {
  color: rgba(0, 0, 0, 1);
}

.tabs-options__item .material-icons {
  font-size: 24px;
  vertical-align: middle;
}

.tabs-options__item .tabs-options__item__helper {
  font-size: 12px;
}

.tabs-options__item_highlighted_red {
  color: rgb(220, 30, 30);
}

.tabs-options__item_highlighted_red:hover {
  color: rgb(185, 25, 25);
}

.tabs-options__item_highlighted_red:active {
  color: rgb(135, 20, 20);
}

.tabs-options__item_highlighted_blue {
  color: rgb(55, 135, 255);
}

.tabs-options__item_highlighted_blue:hover {
  color: rgb(45, 115, 215);
}

.tabs-options__item_highlighted_blue:active {
  color: rgb(25, 75, 175);
}