.text-sub {
  color: #666;
}

.text-sub_dimmer {
  color: #999;
}

.tab-item {
  cursor: default;
  padding: 6px 16px;
  margin: 0;
}

.tab-item:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

.tab-item:active {
  background-color: rgba(100, 100, 100, 0.18);
}

.tab-item_selected {
  color: rgb(55, 135, 255);
}

.tab-item_selected_active {
  background-color: rgba(55, 135, 255, 0.1) !important;
  color: rgb(55, 135, 255);
}

.tab-item * {
  vertical-align: middle;
}

.tab-item__favicon {
  height: 20px;
  margin-right: 8px;
}